<% if @lidas.count > 0 %>
<table class="table table-condensed table-hover">
  <thead>
    <tr>
      <th class="span1"></th>
      <th class="span2">Apartamento </th>
      <th class="span10">Mensagem</th>
      <th class="span3">Data</th>
    </tr>
  </thead>
  <tbody>
    <% @lidas.each do |mensagem| %>
    <tr>
      <td><input type="checkbox"> <a href="#"></a></td>
      <td><strong><%= mensagem.de.bloco %> - <%= mensagem.de.numero %></strong></td>
      <!-- <td><span class="label pull-right">Notifications</span></td> -->
      <td><strong><%= mensagem.mensagem%></strong></td>
      <td><strong><%=   I18n.l(mensagem.created_at) %></strong></td>
    </tr>
    <% end%>
  </tbody>
</table>
<div class="form-actions">
  <button type="button" class="btn btn-primary">Deletar</button>
  <button type="submit" class="btn btn-primary">Marcar como não lida</button>
</div>

<% else %>
<div class="alert alert-block">
  <h4>Nenhuma mensagem encontrada
  </h4>
  <p>Você ainda não possui nenhuma mensagem lida.</p>
</div>
<% end %>